body {
  font-family: 'Space Mono', monopsace;
  background-color: #fdf9fd;
}

h1 {
  font-size: 100px;
  line-height: 1;
  font-weight: 400;
}

h2 {
  font-size: 50px;
}
p {
  font-size: 30px;
}

div {
  max-width: 70%;
  margin: 0 auto;
  font: 1em sans-serif;
}
.sub {
  background-color: #862b8641;
}
span {
  text-shadow:
    0 -6.25px #0c2ffb,
    0 -12.5px #2cfcfd,
    0 6.25px #fb203b,
    0 12.5px #fefc4b;
}
ul {
  text-align: center;
  margin: auto;
  padding: 0;
  font: 900 35px/2 sans-serif;
  list-style: url(edit\ the\ banner\ imag.png) inside circle;
}

@media only screen and (max-width: 1600px) {
  div {
    max-width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  div {
    max-width: 90%;
    /* margin: 100px 0 100px 150px; !important */
  }

  h1 {
    font-size: 70px;
    line-height: 1;
    font-weight: 400;
  }
  span {
    text-shadow:
      0 -6px #0c2ffb,
      0 -10px #2cfcfd;
  }
}
